/*---------------------------------------------------------------------------*/
*
{
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    color: #fff;
    font-family: Arial;
}

body
{
    width: 1050px;
    margin: 0 auto;
    background-color: #445;
    background-image: url('Bg.png');
    background-repeat: repeat;
}

table
{
    border-spacing: 0;
}

table, div
{
    font-size: 14px;
}

a:link, a:visited
{
    color: #fff;
    text-decoration: none;
}

a:hover
{
    background-color: rgba(0,0,0,.4);
}

/*---------------------------------------------------------------------------*/
.Section
{
    padding-bottom: 10px;
}

/*---------------------------------------------------------------------------*/
.ListHeader
{
    padding-right: 14px;
    vertical-align: top;
    font-weight: bold;
    white-space: nowrap;
}

.ListContent
{
}

/*---------------------------------------------------------------------------*/
.Panel, .TitlePanel
{
    padding: 8px;
    z-index: 3;
    position: absolute;
    display: inline-block;
    background-color: #fff;
    box-shadow: 8px 8px 0px rgba(0,0,0,.2);
}

.PanelImage
{
    z-index: 3;
    position:absolute;
    box-shadow: 8px 8px 0px rgba(0,0,0,.2);
}

/*---------------------------------------------------------------------------*/
.Header, .TitleHeader
{
    padding: 3px 6px 3px 20px;
    font-size: 24px;
    box-shadow: 2px 2px 0px rgba(0,0,0,.3);
    text-shadow: 0 1px 0 rgba(0,0,0,.3);
    margin-bottom: 7px;
    white-space: nowrap;
}

/*---------------------------------------------------------------------------*/
.TitlePanel
{
    width: 465px;
    background-color: #445;
    top: 70px;
    left: 0px;
    z-index: 3;
}

.TitleHeader
{
    background-color: #334;
    padding-right: 30px;
}

.TitleVersion
{
    position: absolute;
    text-align: right;
    top: 40px;
    right: 8px;
    color: #889;
}

.TitleDescription
{
    color: #889;
    float: left;
}

.TitleMenu
{
    float: right;
    color: #889;
}
